{% extends 'base.html' %}
{% block page_content %}
    <h1>Profile Details</h1>

    {% if footballer %}
        <div>
            <a href="{% url 'details footballer' pk=footballer.pk %}">Footballer Details</a>
        </div>
    {% endif %}

    {% if stadium %}
        <div>
            <a href="{% url 'details stadium' pk=stadium.pk %}">Stadium Details</a>
        </div>
    {% endif %}

    {% if team %}
        <div>
            <a href="{% url 'details team' pk=team.pk %}">Team Details</a>
        </div>
    {% endif %}
    <h2>My stories</h2>
    {% if stories %}
        <ul>
            {% for story in stories %}
                <li>
                    {{ story.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>{{ object.username }}</p>
    <p>{{ object.first_name }}</p>
    <p>{{ object.last_name }}</p>
    <p>{{ object.gender }}</p>
    <p>{{ object.email }}</p>
    <ul>
        {% for story in stories %}
            <li>{{ story.title }}</li>
        {% endfor %}
    </ul>
    <img src="{{ object.profile_picture }}" alt="img8">
    {% if is_owner %}
        <a href="{% url 'profile edit' pk=object.pk %}">Edit</a>
        <a href="{% url 'profile delete' pk=object.pk %}">Delete</a>
    {% endif %}
{% endblock %}